* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  background: #000;
  color: #fff;
  font-family: "DM Mono", monospace;
}

.page {
  min-height: 100vh;
  position: relative;
  background: #000;
  overflow: hidden;
}

/* DESKTOP — NO TOCADO */
.center {
  position: absolute;
  top: 45.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 92px;
  height: auto;
  display: block;
  margin-bottom: 58px;
}

.email {
  color: #fff;
  text-decoration: none;
  font-size: 11px;
  letter-spacing: 1.2px;
  white-space: nowrap;
}

footer {
  position: absolute;
  bottom: 70px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  letter-spacing: 1px;
}

/* MOBILE — AJUSTADO */
@media (max-width: 768px) {

  .center {
    top: 46%;
  }

  .logo {
    width: 145px;
    margin-bottom: 58px;
  }

  .email {
    font-size: 12px;
    letter-spacing: 2px;
  }

  footer {
    bottom: 48px;
    font-size: 11px;
    letter-spacing: 1.2px;
  }
}